.card-container {
  text-align: center;
}

.charity-card {
  display: inline-block;
  max-width: 500px;
  margin-bottom: 125px;
  padding: 25px;
  box-shadow: 1px 1px 25px 1px rgb(184, 184, 184);
  border-radius: 10px;
}

.charity-title {
  font-size: 35px;

}

.logo {
  max-width: 50%
}

.link {
  font-weight: bold;
  text-decoration: none;
}