.App-header {
  /* height: 180px; */
  background-color: rgb(50, 90, 102);
}

.about {
  text-align: center
}

.footer-container {
  text-align: center;
}

footer {
  padding: 5px 45% 5px 45%;
  position: fixed;
  bottom: 0;
  background-color: rgb(50, 90, 102);
}

.footer-link {
  width: 250px;
  /* display: inline-block; */
  color: white;
}
